body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 800px;
  margin: 40px auto;
  background: #ffffff;
  padding: 40px;
}

header h1 {
  margin-bottom: 5px;
}

header p {
  font-size: 14px;
}

section {
  margin-top: 30px;
}

h2 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  font-size: 18px;
}

h3 {
  margin-bottom: 2px;
}

span {
  font-size: 13px;
  color: #555;
}

ul {
  margin-top: 10px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section ul li {
  margin-bottom: 8px;
}


.download-container {
  margin-top: 15px;
}

.btn-download {
  display: inline-block;
  background-color: #0066cc;
  color: #ffffff !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-download:hover {
  background-color: #004a99;
  text-decoration: none;
}
